<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restablecer Contraseña</title>
  </head>
  <body>
    <h2>Restablecer Contraseña</h2>

    <form th:action="@{/reset-password}" method="post">
      <input type="hidden" name="token" th:value="${token}" />

      <label for="nuevaPassword">Nueva Contraseña:</label>
      <input type="password" title="pass" name="nuevaPassword" required />

      <button type="submit">Guardar</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color: red"></p>
  </body>
</html>
